@charset "UTF-8";

@media screen and (min-width: 768px) {

    main {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 7px 7px 7px hsla(241, 81%, 54%, 0.205);
        border-radius: 40px;

    }

    div#result {
        float: left;
        border-radius: 40px;
        height: 400px;
        width: 260px;
    }

    div#result > p {
        color: #b6b5b5;
        display: inline-block;
        width: 200px;
        text-align: center;
        line-height: 1.5em;
    }

    div#result > h2 {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    div#summary {
        float: right;
        width: 370px;
        height: 390px;
        border-radius: 20px;

        transition-duration: 1s;
    }

    div.summary-score {
        padding: 15px;
        background-color: gray;
        margin-top: 20px;
        width: 300px;
        border-radius: 10px;
        text-align: right;
    }

    div#continue {
        width: 300px;
        padding: 15px;
        text-align: center;
        background: #303B59;
        align-items: center;
        border-radius: 50px;
    }

    div#continue > a{
        font-size: 1em;
    }

    div#summary  h3 {
        font-size: 1em;
    }
}